<div class="board-notice_mobile d-md-none" style="margin-top: 70px">
  <div class="notice-banner_black-mobile">
    <div class="wow fadeInUp"></div>
  </div>
</div>

<div class="board-notice d-none d-md-block" style="margin-top: 60px">
  <div class="notice-banner_black">
    <div class="container" align="center">
      <div class="wow fadeInUp"></div>
    </div>
  </div>
</div>
<div style="border: 3px solid #ffbb40"></div>

<div class="d-none d-md-block">
  <div class="row" style="justify-content: center; margin-top: -35px;">
    <div><img src="/board_banner_img/cat_foot.png"></div>
    <div style="margin-left: 35%;"><img src="/board_banner_img/cat_foot.png"></div>
  </div>
</div>